# Data Science Tools and Ecosystem

**Objectives:**
- List of popular language
- List of popular libraries
- List of DS tools
- Explore coding in Notebook

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplotlib




| Data Science Tools  |
|---|
| Jupyter notebook  |
|  VSCode |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Thang Vu